body {
	background-color: WhiteSmoke;
}

h1, h2, h3, h4, a.navbar-brand {
	font-family: 'Arima Madurai', cursive;
}

p, div.panel-body, div.panel-heading, form, div.visible-lg {
	font-family: 'Open Sans', sans-serif;
}

div.navbar {
	background: none;
	color: OliveDrab;
	border: 0;
	border-radius: 0;
}

div.navbar a.navbar-brand, nav li a {
	color: OliveDrab;
}

a.navbar-brand {
	font-size: 20px;
}


.jumbotron {
	border-radius: 50px;
}

/* species */

#birdimge img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;    
}


/* extra */


#playlist .active a {
	color: #5DB0E6;
	text-decoration: none;
}

#playlist li {
	list-style-type: none;
}

#playlist li a {
	color: gray;
	padding: 5px;
	display: block;
}

#playlist li a:hover {
	text-decoration: none;
}

.carousel, .item, .active {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}

#birdimg img {
	max-width: 100%;
	width: auto 9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

#birdimg .carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
	max-width: none;
}